@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ede8de;
    background-color: #7a401b;
}
.title-edit{
    font-family: "Libre Bodoni", sans-serif;
}

